.comment {
    -fx-fill: gray;
}
.keyword {
    -fx-fill: #CC7732;
    -fx-font-weight: bold;
}

.identifier {
    -fx-fill: #9876AA;
}

.mapped {
    -fx-underline: true;
}

.mapped.field {
    -fx-fill: #6CBEED;
}

.mapped.method {
    -fx-fill: #60E1E0;
}

.mapped.param {
    -fx-fill: #DD2C61;
}

.string-literal {
    -fx-fill: green;
}

.other-literal {
    -fx-fill: cadetblue;
}

.code-area {
    -fx-background-color: -darker-bg-color;
    -fx-font-size: 16px;
}

.styled-text-area { -fx-highlight-fill: #999999; }

.lineno {
    -fx-text-fill: -dark-text-color;
    -fx-background-color: -dark-bg-color;
}

.default-text {
    -fx-fill: -dark-text-color;
}
