.split-pane > .split-pane-divider {
    -fx-padding: 0.0 0.1em 0.0 0.1em;
}

/*.list-cell:empty {
    -fx-background-color: white;
    -fx-padding: 2.0px ;
    -fx-background-insets: 0.0 ;
}*/
.list-cell:filled:selected {
    -fx-background-color: -fx-background;
    -fx-background-insets: 0.0;
}

.list-view:focused {
    -fx-background-color: -fx-background;
    -fx-background-insets: 0.0;
}

.list-cell:empty {
    -fx-background-color: transparent;
}

.list-cell:even:filled {
    -fx-background-color: #DDD;
}

.list-cell:odd:filled {
    -fx-background-color: white;
}

.list-cell {
    -fx-padding: 2px;
    -fx-background-insets: 0px, 2px;
}

.tab-header-area {
    visibility: visible;
}
.tab {
    -fx-padding: 0 5px 0 5px;
}

/*
A very stupid trick to get the TabPane to always show the header :D
 */
.tab#autoSizerTab {
    -fx-padding: 0;
}